<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <title>My First Web Page</title>
</head>
<body style="background-color: #202020; color: #ffffff;">
  <div id="jobs-table"
    hx-get="/jobs/table"
    hx-swap="innerHTML"
    hx-trigger="load">
  </div>
  <!-- add an entry -->
  <div>
    <form hx-post="/jobs/create"
      hx-target="#jobs-table"
      hx-swap="innerHTML"
      hx-on::after-request="if(event.detail.successful) this.reset()">
      <input type="text" name="name" placeholder="Name" required>
      <input type="text" name="desc" placeholder="Description">
      <select name="status">
        <option value="todo">Todo</option>
        <option value="active">Active</option>
        <option value="done">Done</option>
      </select>
      <!-- Button lives on form -->
      <button type="submit">Create Job</button>
    </form>
  </div>
</body>
</html>
