{{/*
  Outer shell: table + header, one job-row.html tbody per job (loaded
  on page load via GET /jobs/table, and after Create).

  Data: []JobRow (see server.go)
*/}}
<table id="jobs-table-inner">
  <caption>Jobs</caption>
  <colgroup>
    <col style="width: 28px">
    <col>
    <col style="width: 90px">
    <col>
    <col style="width: 70px">
    <col style="width: 90px">
    <col style="width: 230px">
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Status</th>
      <th>Desc</th>
      <th>Entries</th>
      <th>Total time</th>
      <th></th>
    </tr>
  </thead>
  {{range .}}
  {{template "job-row.html" .}}
  {{end}}
</table>
