{{/*
  Inner fragment: a single job's time spans, rendered into the expand
  panel under its row in jobs-table.html (GET /jobs/{id}/spans). Each row
  is span-display-row.html, click-to-edit toggles it to span-edit-row.html.

  Data: []SpanRow (see server.go)
*/}}
{{if not .}}
<p><em>No time spans logged for this job yet.</em></p>
{{else}}
<table>
  <colgroup>
    <col style="width: 50px">
    <col style="width: 220px">
    <col style="width: 220px">
    <col style="width: 90px">
    <col>
    <col style="width: 160px">
  </colgroup>
  <thead>
    <tr>
      <th>ID</th>
      <th>Start</th>
      <th>End</th>
      <th>Duration</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
    {{template "span-display-row.html" .}}
    {{end}}
  </tbody>
</table>
{{end}}
